requests
beautifulsoup4
pymupdf
spacy==3.7.2
nltk
selenium
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl

# Avoid building blis from source by pinning to prebuilt wheel-compatible version
blis==0.7.9